<section class="featured-product">
<div class="page-width">
<div class="featured-product product grid  gradient">
  <div class="grid__item product__media-wrapper">
        <div
          class="product-media-container global-media-settings gradient{% if section.settings.constrain_to_viewport %} constrain-height{% endif %}"
          style="--ratio: 1.0; --preview-ratio: 1.0;"
          >
          {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
  </div>
  <div class="product__info-wrapper grid__item">
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'title' -%}
     <h2 class="product__title">
        
     </h2>
    {%- endcase -%}
    {%- endfor -%}
  </div>
</div>
</div>
</section>




{% schema %}
{
  "name": "Featured Product Test",
  "settings": [
   
  ],
  "presets": [
    {
    "name": "Featured Product Test",
    "blocks": [
    
    ]
    }
  ]
}
{% endschema %}